<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>WildEye - DronePilot</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/icons.css">
    <link rel="stylesheet" href="../css/material.brown-deep_orange.min.css">
    <link rel="stylesheet" href="../css/leaflet.css" />
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <div class="wildeyeicon"></div>
                <span class="mdl-layout-title">Details: MyNewJob</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div id="app" class="mdl-grid demo-blog__posts">
                    <div class="mdl-card mdl-cell mdl-cell--2-col mdl-shadow--8dp mdl-card-border">
                        <div class="mdl-card__title">
                          <div class="droneicon"></div>
                            <div><h2 class="mdl-card__title-text">Drone State</h2></div>
                        </div>
                        <div class="mdl-card__supporting-text">
                          <h1>  {{ dronestate }}</h1>
                        </div>
                    </div>

                    <div class="mdl-card mdl-cell mdl-cell--2-col mdl-shadow--8dp mdl-card-border">
                        <div class="mdl-card__title">
                            <div class="batteryicon"></div>
                            <div><h2 class="mdl-card__title-text">Battery</h2></div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h1>{{ battery }}%</h1>
                        </div>
                    </div>
                    <div class="mdl-card mdl-cell mdl-cell--2-col mdl-shadow--8dp mdl-card-border">
                        <div class="mdl-card__title">
                            <div class="gpsicon"></div>
                            <div><h2 class="mdl-card__title-text">GPS</h2></div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h3>{{ gps['longitude'] }}</h3>
                            <h3>{{ gps['latitude'] }}</h3>
                        </div>
                    </div>
                    <div class="mdl-card mdl-cell mdl-cell--2-col mdl-shadow--8dp mdl-card-border">
                        <div class="mdl-card__title">
                            <div class="gpsicon"></div>
                            <div><h2 class="mdl-card__title-text">Drone Control</h2></div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <button v-on:click="startBtn">Start!</button>
                        </div>
                    </div>
                    <nav class="mdl-cell mdl-cell--12-col">
                        <div class="section-spacer"></div>
                    </nav>
                    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--8dp mdl-card-border wildeye-mapcard">
                        <div class="mdl-card__title">
                          <div class="mapicon"></div>
                            <div><h2 class="mdl-card__title-text">Mapview</h2></div>
                        </div>
                        <div class=" mdl-card__media" id="map">

                        </div>
                    </div>
                    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--8dp mdl-card-border">
                        <div class="mdl-card__title">
                          <div class="videoicon"></div>
                            <div><h2 class="mdl-card__title-text">LiveVideo</h2></div>
                        </div>
                        <div id="vidstream">

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="../js/material.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/bundle.js"></script>
</body>

</html>
