<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>Wildeye</title>

<script src='https://code.jquery.com/jquery-2.2.3.js'></script>

<!-- bootstrap zeugs -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/wildeye.css">
</link>

</head>

<body>

<div class="site-wrapper bgimghell">

    <div class="site-wrapper-inner">


        <div class="masthead clearfix col-md-3 col-md-offset-3">
            <div class="inner">
                <h3 class="masthead-brand"><a href="#"><span class='glyphicon glyphicon-eye-open'></span>
                    WildEye</a></h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li class="active"><a href="/"><span class='glyphicon glyphicon-home'
                                                             aria-hidden="true">  </span> Home</a></li>
                        <li><a href="/joblist"><span class='glyphicon glyphicon-list' aria-hidden="true">  </span>
                            Fields</a></li>
                        <li><a href="/newjob"><span class='glyphicon glyphicon-plus' aria-hidden="true">  </span>
                            add new Field</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="inner cover col-md-3 col-md-offset-6">
            <h1 class="cover-heading">WildEye.</h1>
            <p class="lead">Find wildlife hidden in your fields.</p>
            <p class="lead">
                <a href="/newjob" class="btn btn-lg btn-default">Start now</a>
            </p>
        </div>

        <div class="mastfoot col-md-3 col-md-offset-3">
            <div class="inner">
                <p></p>
            </div>
        </div>

    </div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>